.selections_about{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 5% 10%;
    min-height: 60vh;
    gap: 1em;
}
@media (max-width: 890px){
    .selections_about{
        gap: 4em;
    }
}
@media (max-width: 600px){
    .selections_about{
        min-height: 65vh;
    }
    .selections_about{
        gap: 6em;
    }
}
@media (max-width: 408px){
    .selections_about{
        min-height: 70vh;
    }
}
@media (max-width: 346px){
    .selections_about{
        min-height: 70vh;
    }
}