/* error.css */
[id=error] {
    position: relative;
    min-height: 65vh;
    color: #ff5f61;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .container_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .main-title-error {
    font-size: 15em;
    margin: 0;
  }
  
  .container-return-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .return-error {
    margin: 0;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
  }
  .return-error:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.1s;
  }
  .subtitle_error {
    font-size: 2em;
    font-weight: 500;
  }
  a{
    text-decoration: none;
    color: #ff5f61;
  }
  @media (max-width: 808px){
    .container_error{
      margin-top: 10%;
    }
    .main-title-error{
      font-size: 12em;
    }
    .subtitle_error{
      font-size: 1.5em;
    }
  }
  @media (max-width: 586px){
    .container_error{
      margin-top: 20%;
    }
    .main-title-error{
      font-size: 10em;
    }
    .subtitle_error{
      font-size: 1.2em;
    }
    .return-error{
      font-size: 1em;
    }
  }
  @media (max-width: 436px){
    .container_error{
      margin-top: 35%;
    }
    .main-title-error{
      font-size: 8em;
    }
    .subtitle_error{
      font-size: 1em;
      width: 90%;
      margin: 0 5% 0 5%;
    }
    .return-error{
      font-size: 0.8em;
    }
  }
  @media (max-width: 466px){
    #error{
      min-height: 75vh;
    }
  }
  @media (max-width: 276px){
    .main-title-error{
      font-size: 5em;
    }
    .container_error{
      margin-top: 75%;
    }
  }